[submodule "roboto_usb2can"]
	path = roboto_usb2can
	url = https://github.com/wentywenty/roboto_usb2can
[submodule "orangepi-build"]
	path = orangepi-build
	url = https://github.com/wentywenty/orangepi-build
